<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Details</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEv1N75P9tpDqd2Mn9wr2I2tM6F5tr5t4" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h1>Medicine Details</h1>
        <% if (medicine) { %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>
                            <%= medicine.medicine_name %>
                        </strong></h5>
                    <p class="card-text">Manufacturing Date: <%= medicine.manufacturing_date %>
                    </p>
                    <p class="card-text">Expiry Date: <%= medicine.expiry_date %>
                    </p>
                    <p class="card-text">Quantity: <%= medicine.quantity %>
                    </p>
                    <p class="card-text">Supplier: <%= medicine.supplier_name %>
                    </p>
                    <p class="card-text">Storage Location: <%= medicine.storage_location %>
                    </p>
                    <!-- Add more details as needed -->

                    <!-- Delete Button -->
                    <button class="btn btn-danger"
                        onclick="deleteMedicine('<%= medicine.medicine_id %>')">Delete</button>

                    <!-- Back Button -->
                    <a href="/medicines" class="btn btn-primary">Back to Medicines</a>
                </div>
            </div>
            <% } else { %>
                <p class="text-danger mt-3">Medicine not found</p>
                <% } %>
    </div>

    <!-- Bootstrap JS and Popper.js CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-XIv1Vb3uyhbo5jzjZB1hpKO9RmFX6eDhF3jCGtJsdf6zAkXrRc4NBkwD+Kp4czyVI"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEv1N75P9tpDqd2Mn9wr2I2tM6F5tr5t4"
        crossorigin="anonymous"></script>

    <script>
        function deleteMedicine(medicineId) {
            // Redirect to the deleteMedicine route with the specific medicine ID
            window.location.href = '/delete-medicine/' + medicineId;
        }
    </script>
</body>
<style>
    
</style>

</html>